<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>
<body  style="width: 600px;height: 400px">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="form" class="layui-form layui-form-pane">
            <input type="hidden" name="id" th:value="${user.id}">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input name="username" class="layui-input" th:value="${user.username}" required>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input name="password" class="layui-input" th:value="${user.password}" required>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input name="phone" class="layui-input" th:value="${user.phone}" required>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">开通模块</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,1)}" title="模块1" value="1" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,2)}" title="模块2" value="2" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,3)}" title="模块3" value="3" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,4)}" title="模块4" value="4" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,5)}" title="模块5" value="5" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,6)}" title="模块6" value="6" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,7)}" title="模块7" value="7" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,8)}" title="模块8" value="8" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,9)}" title="模块9" value="9" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,10)}" title="模块10" value="10" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,11)}" title="模块11" value="11" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,12)}" title="模块12" value="12" lay-skin="primary">
                    <input type="checkbox" name="module" th:checked="${util.isModuleEnable(user.permission,13)}" title="模块13" value="13" lay-skin="primary">
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center">
                <input type="submit" class="layui-btn" value="保存">
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script>
    $("#form").submit(function () {
        $.post("/carexpert/user/save", $("#form").serialize(), function (data) {
            if (data.state == 200) {
                alert("修改成功")
                window.location.reload();
            } else {
                alert("修改失败")
            }
        })
        return false;
    })

    function deleteUser(id) {
        var url = '/carexpert/user/delete/'+id;
        $.get(url, function (data) {
            if (data.state == 200) {
                alert("删除成功")
                window.location.href = '/carexpert/admin'
            } else {
                alert("删除失败")
            }
        })
    }
</script>
</html>