<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/carexpert/layui/css/layui.css">
    <script type="text/javascript" src="/carexpert/js/jquery-3.4.1.min.js"></script>
</head>
<body bgcolor="#eeeeee">
<div class="layui-card layui-col-md4 layui-col-md-offset4" style="margin-top: 3%">
    <div class="layui-card-header" style="text-align: center">登录</div>
    <div class="layui-card-body">
        <form id="form" class="layui-form layui-form-pane" th:action="@{/signin}">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input name="username" class="layui-input" required>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input name="password" class="layui-input" required>
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center">
                <input class="layui-btn" type="submit" value="登录">
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="/carexpert/layui/layui.all.js"></script>
</html>