<!--<!DOCTYPE html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">-->
<!--    <script type="text/javascript" src="/carexpert/js/jquery-3.4.1.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test">
    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
    <li class="layui-nav-item ">
        <a href="javascript:;">用户管理</a>
        <dl class="layui-nav-child">
            <dd><a th:href="@{/user}">用户列表</a></dd>
            <dd><a th:href="@{/user/addnew}">新增用户</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item layui-nav-itemed">
        <a>课程管理</a>
        <dl class="layui-nav-child">
            <dd><a th:href="@{/home}">所有课程</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">其他功能</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">管理员</a></dd>
        </dl>

        <dl class="layui-nav-child">
            <dd><a th:href="@{/tag}">标签管理</a></dd>
        </dl>

        <dl class="layui-nav-child">
            <dd><a th:href="@{/version}">版本管理</a></dd>
        </dl>
    </li>
</ul>

<!--</body>-->
<!--<script src="/carexpert/layui/layui.all.js"></script>-->
<!--</html>-->